.headerOption {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.headerOption:hover {
  color: #11101d;
  background: #fff;
}

.headerOption__title {
  font-size: 18px;
  font-weight: 400;
  margin-left: 16px;
}

.headerOption__icon {
  height: 50px !important;
  max-width: 50px !important;
}
