.sidebar_menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 1000;
}

.sidebar_menu.active {
  width: 240px;
}

.sidebar_menu .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.sidebar_menu.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.sidebar_menu .logo_content .logo img {
  height: 45px;
  margin-left: 2px;
}

.logo_content .logo .codeIcon {
  font-size: 28px;
  margin-right: 5px;
}

.sidebar_menu .btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 15px;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar_menu.active .btn {
  left: 90%;
}

.sidebar_menu ul {
  width: 75%;
  margin: 10px 5px;
}

.sidebar_menu ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  list-style: none;
}

.sidebar_menu ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  display: block;
  pointer-events: none;
}

.sidebar_menu.active ul li .tooltip {
  display: none;
}

.sidebar_menu ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar_menu ul li input {
  position: absolute;
  height: 100%;
  width: 200px;
  left: 0;
  top: 0;
  padding-left: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  background-color: #1d1b31;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear 0.2s;
}

.sidebar_menu.active ul li input {
  visibility: visible;
  opacity: 1;
}

.sidebar_menu ul li .searchIcon {
  position: absolute;
  z-index: 99;
  margin-left: 5px;
  color: #fff;
  font-size: 30px;
  transition: all 0.5s ease;
}

.sidebar_menu ul li .searchIcon:hover {
  background: #fff;
  color: #1d1b31;
  border-radius: 10px;
}

.sidebar_menu ul li .nav {
  text-decoration: none;
}

.sidebar_menu .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar_menu .profile_content .profile {
  position: relative;
  padding-top: 10px;
  height: 100px;
  background: none;
  transition: all 0.5s ease;
}

.sidebar_menu.active .profile_content .profile {
  background: #1d1b31;
}

/* fefefefefef */
.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear 0.2s;
}

.sidebar_menu.active .profile .profile_details {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details .name_email {
  margin-left: 10px;
  text-align: start;
}

.profile .profile_details .name {
  font-size: 16px;
  font-weight: 400;
}

.profile .profile_details .name_email {
  font-size: 13px;
}

.profile .logoutWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
}

.sidebar_menu.active .profile .logoutWrapper {
  justify-content: end;
}

.profile .logoutWrapper:hover {
  background: #fff;
  color: #11101d;
}

.sidebar_menu .profile .logoutWrapper span {
  display: none;
}

.sidebar_menu.active .profile .logoutWrapper span {
  display: block;
  padding-right: 8px;
  font-size: 15px;
}

.sidebar_menu .profile .logoutWrapper .log_out {
  height: 30px;
  width: 30px;
}
