.modal {
  background-color: #fff;
  max-height: 95vh;
  overflow-y: auto;
}

.close {
  background-color: #fff;
  border: 1px solid #806a6a;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  font-size: 24px;
  padding: 0 7px;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 9999;
}

.close:hover {
  opacity: 0.75;
  border: 1px solid #fff;
  transform: scale(1.1);
}

.modal iframe {
  width: 80vw;
  height: 100vh;
  background-color: #fff;
}

.modal.toggled {
  margin-left: 240px;
}
