.modal {
  box-sizing: border-box;
}

.modal > .close {
  background-color: #fff;
  border: 1px solid #cfcece;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  font-size: 24px;
  padding: 0px 7px;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 9999;
}

.modal > .close:hover {
  opacity: 0.75;
  border: 1px solid #fff;
  transform: scale(1.1);
}

.modal iframe {
  width: 80vw;
  height: 90vh;
  background-color: #fff;
}
