.app {
  background-color: #2a2f3c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.intro {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.subText {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.subText.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.subText.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
